<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZWZhdWx0TG9jYWxpemF0aW9uIjoiZW4iLCJkZXBlbmRlbmNpZXMiOltd
		LCJkaXNwbGF5TmFtZSI6IkdldCBTdGFydGVkIHdpdGggQXBwcyIsInBhY2th
		Z2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpb
		XSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0sInBy
		b2R1Y3RzIjpbeyJuYW1lIjoiR2V0IFN0YXJ0ZWQgd2l0aCBBcHBzIiwic2V0
		dGluZ3MiOlt7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZl
		cnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7
		InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1
		ZSJ9fX0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0s
		ImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpb
		InBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9u
		cyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJs
		YW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29u
		ZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRh
		cmdldHMiOlsiQXBwIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwi
		dGFyZ2V0TWFwIjp7IkFwcCI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6
		WyJHdWlkZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHAiLCJw
		YWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifSwiR3VpZGUi
		OnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJHdWlk
		ZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoiR3VpZGUiLCJyZXNv
		dXJjZXMiOlt7InBhdGgiOiJHdWlkZS50dXRvcmlhbCIsInJ1bGUiOnsicHJv
		Y2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL2NvbXBvc2FiaWxpdHlA
		MngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvY3JlYXRpbmctbmV3LXN3aWZ0dWktdmlld3NAMngucG5nIiwicnVs
		ZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvZXhwZXJp
		bWVudC13aXRoLXN3aWZ0dWlAMngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7
		fX19LHsicGF0aCI6IlJlc291cmNlc1wvZ2V0LXN0YXJ0ZWQtd2l0aC1hcHBz
		QDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNv
		dXJjZXNcL21vZGlmeWluZy1zd2lmdC11aS12aWV3c0AyeC5wbmciLCJydWxl
		Ijp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9zd2lmdC11
		aS12aWV3c0AyeC5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0
		aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn19LCJ0YXJnZXRzIjpbeyJkZXBl
		bmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJHdWlkZSIsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJBcHAiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0
		aCI6IkFwcCIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6
		ImV4ZWN1dGFibGUifSx7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltd
		LCJuYW1lIjoiR3VpZGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6
		Ikd1aWRlIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiR3VpZGUudHV0b3JpYWwi
		LCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9j
		b21wb3NhYmlsaXR5QDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7
		InBhdGgiOiJSZXNvdXJjZXNcL2NyZWF0aW5nLW5ldy1zd2lmdHVpLXZpZXdz
		QDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNv
		dXJjZXNcL2V4cGVyaW1lbnQtd2l0aC1zd2lmdHVpQDJ4LnBuZyIsInJ1bGUi
		OnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL2dldC1zdGFy
		dGVkLXdpdGgtYXBwc0AyeC5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0s
		eyJwYXRoIjoiUmVzb3VyY2VzXC9tb2RpZnlpbmctc3dpZnQtdWktdmlld3NA
		MngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvc3dpZnQtdWktdmlld3NAMngucG5nIiwicnVsZSI6eyJwcm9jZXNz
		Ijp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoicmVndWxhciJ9XSwidG9v
		bHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		PX6ej/q+B32YUxPCwXMx9CUIV0I/CUwow3KSnVXo5tI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
